@import '../../assets/scss/variables.scss';

.formFactory {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        max-width: 200px;
    }
    form {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .error {
        width: 80%;
        span {
            color: $makers-font-danger;
            font-size: 10px;
            text-align: left;
        }
    }
}
