@import '../../assets/scss/variables.scss';

button,
.button {
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    &.small {
        margin-top: 10px;
        width: 230px;
    }
    &.primary {
        background-color: $makers-font-secondary;
        color: $makers-background-light;
    }
    &.secondary {
        background-color: $makers-background-light;
        color: $makers-font-primary;
    }
    &.danger {
        background-color: $makers-background-light;
        color: $makers-font-danger;
        border: 2px solid $makers-font-danger;
    }
    &.downloadQr {
        font-size: 14px;
        height: 40px;
        width: auto;
        padding: 0 10px;
    }
    &.rounded {
        position: fixed;
        width: 60px;
        height: 60px;
        bottom: 20px;
        right: 20px;
        box-shadow: 2px 2px 3px #999;
        border-radius: 50px;
        z-index: 200;
    }
    &.rounded-desk {
        margin-right: 10px;
        i {
            font-size: 18px;
        }

        width: 40px;
        height: 40px;
        box-shadow: 2px 2px 3px #999;
        border-radius: 50px;

        display: none;
    }
    &.itemButton {
        position: absolute;
        right: 10px;
        width: 40px !important;
        height: 40px !important;
        border-radius: 50px;
    }
    width: 80%;
    height: 50px;
    &.full {
        width: 98%;
        margin-bottom: 10px;
        height: 60px;
        box-sizing: border-box;
        border: 2px solid $makers-font-secondary;
        border-radius: 0.6em;
        cursor: pointer;
        align-self: center;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        font-weight: bold;

        &:hover,
        &:focus {
            color: $makers-background-light;
            outline: 0;
            box-shadow: 0 0 40px 40px $makers-font-secondary inset;
        }
        transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    }
    &:disabled,
    &[disabled] {
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
    }
}

@media (min-width: $makers-tablet) {
    button,
    .button {
        &.rounded {
            display: none;
        }
        &.rounded-desk {
            display: block;
        }
    }
}
