@import '../../assets/scss/variables';

.progressBarContainer {
    background-color: $makers-font-secondary;
    display: flex;
    align-items: center;
    width: 100%;
    height: 0;
    position: fixed;
    font-size: 18px;
    font-weight: 700;
    opacity: 0;
    z-index: 999 !important;
    p {
        width: 100%;
        text-align: center;
    }
    &.red {
        background-color: $makers-font-danger;
        color: $makers-background-light;
    }
    &.green {
        background-color: $makers-font-secondary;
        color: $makers-background-light;
    }
}
