@import '../../assets/scss/variables.scss';

.formGroup {
    &.search {
        input {
            margin: 0;
        }
        width: 80%;
        ul {
            list-style: none;
            height: auto;
            max-height: 200px;
            overflow: auto;
            li {
                line-height: 30px;
                border: 1px solid #ccc;
                background-color: $makers-background-light;

                padding-left: 5px;
                &:hover {
                    color: transparentize($color: $makers-font-secondary, $amount: 0.3);
                }
            }
        }
        .formFactory {
            form {
                flex-direction: row;
                .formGroup:nth-child(1) {
                    margin-right: 5px;
                }
            }
        }
    }
    .inputContainerSearch {
        position: relative;
        .regionListContainer {
            position: absolute;
            top: 70px;
            width: 100%;
            z-index: 300;
        }
        .formGroup {
            width: 100%;
        }
        display: flex;
        align-items: flex-end;
        .subregion {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 38px;
            font-weight: 400;
            font-size: 11px;
            width: 100px;
            color: #373737;
            border: 1px #ccc solid;
        }
    }
}
