@import '../../assets/scss/variables.scss';
.loginContainer {
    display: flex;
    padding-top: 50px;
    flex-direction: column;
    align-items: center;
    height: 100vh;

    .loginFormContainer {
        min-width: 300px;
        width: 100%;
        max-width: 600px;
    }
    .authLinks {
        font-weight: 250;
        font-size: 14px;
        margin-right: 10px;
        cursor: pointer;
        text-transform: uppercase;
        * {
            padding-left: 6px;
        }
        .selected {
            color: $makers-font-secondary;
        }
    }
}
