@import '../../assets/scss/variables.scss';

.formGroup {
    label {
        line-height: 20px;
        display: flex;
        position: relative;
        align-items: center;
        &.checkboxLabel {
            padding-left: 25px;
        }
        input[type='checkbox'] {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
            &:checked ~ .checkmark {
                background-color: $makers-font-secondary;
            }
            &:checked ~ .checkmark:after {
                display: block;
            }
        }
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 15px;
            width: 15px;
            border: 2px solid $makers-font-secondary;
            border-radius: 5px;
            &:after {
                content: '';
                position: absolute;
                display: none;
                left: 4px;
                top: -1px;
                width: 5px;
                height: 10px;
                border: solid white;
                border-width: 0 2px 2px 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
            }
        }
    }
}
