@import '../../assets/scss/variables.scss';

.formGroup {
    &.hidden {
        display: none;
    }
    select {
        transition: all 0.3s ease-in-out;
        outline: none;
        box-sizing: border-box;
        width: 100%;
        background: $makers-background-light;
        margin-bottom: 4%;
        height: 40px;
        border: 1px solid transparentize($color: $makers-font-primary, $amount: 0.7);
        padding-left: 10px;
        color: $makers-font-primary;
        &:focus {
            box-shadow: 0 0 5px $makers-font-secondary;
            padding: 10px;
            border: 1px solid $makers-font-secondary;
        }

        &[type='number'] {
            width: 100%;
            font-size: 40px;
            line-height: 40px;
            text-align: center;
        }
    }
    label {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 10px;
        &.bugNumber {
            font-size: 30px;
            margin-bottom: 20px;
        }
    }
}
