@import '../../assets/scss/variables';

.layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    .contentLayout {
        h2 {
            margin-left: 5px;
        }
        position: relative;
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        justify-self: center;
        max-width: 700px;
        width: 100%;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
