@import '../../../assets/scss/variables.scss';

.shippingItem {
    display: flex;
    flex-wrap: wrap;

    .check {
        position: absolute;
        right: 0;
        top: 20px;
        color: $makers-font-secondary;
        width: 30px !important;
    }
    .full {
        width: 100% !important;
    }
}
